<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.zzay.dao.PaymentDao">
    <!-- result map -->
    <resultMap id="BaseResultMap" type="com.github.zzay.entity.Payment">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <id column="serial" property="serial" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- int create(Payment payment) -->
    <insert id="create" parameterType="Payment" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO payment(serial)
        VALUES (#{serial});
    </insert>

    <!-- Payment getPaymentById(@Param("id") Long id) -->
    <select id="getPaymentById" parameterType="Long" resultMap="BaseResultMap">
        SELECT id, serial
        FROM payment
        WHERE id = #{id};
    </select>
</mapper>
