# server
server:
  port: 80

# spring
spring:
  # application
  application:
    name: consul-consumer-order
  # spring cloud
  cloud:
    # consul
    consul:
      host: localhost
      port: 8500
      discovery:
        service-name: ${spring.application.name}
        prefer-ip-address: true
        heartbeat:
          enabled: true

